.mainTwo {
    width: 570px;
    height: 320px;
    margin-left: 86px;

    border-collapse: collapse;
}

.mainDivTwo {
    padding-top: 100px;

}

.none {
    display: none;
}

.block {
    display: inline-block;
}